.main{
    flex-grow: 1;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 55px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.85);
}
.main_top{
    display: flex;
    flex-direction: column;
    position: relative;
}
.main_top > .title{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 70px;
    border-image: linear-gradient(to right, #b6b6b67c, #36363600) 1;
    border-bottom: 2px solid;
}
.title> h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    color: rgb(204, 204, 204);
}
.intro{
    padding: 12%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 18px;
    color: rgb(235, 180, 108);
    border: 3px solid darkgoldenrod;
    border-radius: 50px;
}
.intro > p{
    font-size: 24px;
}
.main_inner{
    padding-top:40px;
    padding-bottom: 100px;
    position: relative;
}   
.sec{ 
    display: flex;
    flex-direction: row;
    position: relative;
}
.img{
    width: 45%;
    z-index: 1;
}
.img > img{
    box-shadow: 1px 10px 10px -1px rgba(0, 0, 0, 0.589);
    border: 3px solid darkgoldenrod;
}
.content{
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.content>.title{
    width: 55%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(235, 180, 108);
    background-color: antiquewhite; 
    border: 3px solid darkgoldenrod;
    z-index: 1;
}
.sec_01 > .content >.title,
.sec_03 > .content >.title,
.sec_05 > .content >.title{
    position: relative;
    left:20%;
    top:30%;
}
.sec_02 > .content >.title, .sec_04 > .content >.title{
    position: relative;
    left: 30%;
    top:30%;
}
.content>p{
    padding: 20%;
    font-size: 24px;
    color: rgb(243, 218, 172);
    background-color: rgb(116, 87, 65);
    border: 3px solid darkgoldenrod;
    box-shadow: 1px 10px 10px -1px rgba(0, 0, 0, 0.589);
}
.sec_01 > .content >p,
.sec_03 > .content >p,
.sec_05 > .content >p{
    position: relative;
    right: 15%;
    top:20%;
}
.sec_02 > .content >p, .sec_04 > .content >p{
    position: relative;
    left: 10%;
    top:20%;
}
.sec_05{
    margin-bottom: 15%;
}
@media screen and (max-width:1024px){
    .intro >p{
        font-size: 20px;
    }
    .content{
        width: 60%;
        display: flex;
        flex-direction: column;
        padding: 1%;
    }
    .content>.title{
        height: 60px;
        font-size: 32px;
    }
    .sec_01 > .content >.title,
    .sec_03 > .content >.title,
    .sec_05 > .content >.title{
        position: relative;
        left:15%;
        top:30%;
    }
    .sec_02 > .content >.title, .sec_04 > .content >.title{
        position: relative;
        left: 30%;
        top:30%;
    }
    .content>p{
        font-size: 20px;
    } 
}
@media screen and (max-width:768px){
    .title> h2{
        font-size: 48px;
    } 
    .sec{ 
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 50px;
    }
    .img{
        width: 100%;
        order: 1;
    }
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top:50px;
        position: relative;
        left: 15%;
        top:-50px;
        order: 2;
        background-color: antiquewhite;
        border: 3px solid darkgoldenrod;
    }
    .content>.title{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        font-size: 42px;
    }
    .sec>.content >.title{
        position: relative;
        left: 0%;
        top:0%;
    }
    .content>p{
        font-size: 20px;
    }
    .sec_01 > .content >p,
    .sec_03 > .content >p,
    .sec_05 > .content >p{
        position: relative;
        right: 25%;
        top:0%;
    }
    .sec_02 > .content >p, .sec_04 > .content >p{
        position: relative;
        left: -25%;
        top:0%;
    }
}