.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* margin-top: 3.6em; */
    position: relative;
    /* height: 100%; */
}
.banner{
    background-color: rgb(0, 0, 0);
    /* clip-path: polygon(50% 18%, 100% 0, 100% 100%, 0 100%, 0 0); */
    position: relative;
    margin-top: 55px;   
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.banner_img{
    width:55%;
    display: flex;
    position: relative;
    justify-content: center;
}
.banner_inner{
    width:45%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    padding: 5%;
    color: rgb(250, 237, 162);
}
.banner_inner_title{
    font-size: 48px;
    margin-bottom: 10%;
    color: rgb(235, 180, 108); 
}
.banner_inner_content > .row > .column{
    display:flex;
    justify-content: space-between;
    margin-bottom: 3%;
}
.banner-item{
    font-size: 16px;
    color: antiquewhite;
}
.option{
    padding: 5% 15% 15% 15%;
    position: relative;
}
.option_title{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}
.option_title > h3{
    font-size: 48px;
    color: rgb(235, 180, 108); 
}
.option_content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item {
    width: 20%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid darkgoldenrod;
}
.item > span{
    width: 100%;
    height: 30%;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: center;
    font-size: 26px;
    align-items: center;
}
.item > img{
    height: 70%;
    margin-bottom: 20px;
}
/* .item_01{
    width: 18%;
    height: 250px;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 5%;
}
.item_02{
    width: 18%;
    height: 250px;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 5%;
}
.item_03{
    width: 18%;
    height: 250px;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 5%;
}
.item_04{
    width: 18%;
    height: 250px;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 5%;
}
*/
.about{
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 20%;
    position: relative;
    display: flex;
}
.about::before{
    content: "";
    width: 100%;
    height:20%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top:-10%;
    left:0;
    clip-path: ellipse(55% 40% at 50% 50%);
}
.about_inner{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid darkblue; */
    padding: 5%;
}
.about_inner_title{
    color: rgb(235, 180, 108); 
    font-size: 48px;
    padding-left: 5%;
}
.about_inner_content{
    width: 100%;
    padding: 5%;
}
.about_inner_content > p{
    color: antiquewhite;
}
.about_img{
    width: 40%;
}
@media screen and (max-width:1024px){
    .banner{
        background-color: rgb(0, 0, 0);
        /* clip-path: polygon(50% 18%, 100% 0, 100% 100%, 0 100%, 0 0); */
        position: relative;
        margin-top: 55px;   
        display: flex;
        flex-direction: row;
        padding-left: 12%;
        padding-right: 12%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .banner_img{
        width:50%;
        display: flex;
        position: relative;
        justify-content: center;
    }
    .banner_inner{
    width:45%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    padding: 3%;
   
    }
    .banner_inner_title{
        font-size: 36px;
        margin-bottom: 5%;
    
    }
    .banner_inner_content > .row > .column{
        display:flex;
        justify-content: space-between;
        margin-bottom: 1%;
    }
    .banner-item{
        font-size: 14px;
   
    }
    .option{
        padding: 5% 15% 15% 15%;
        position: relative;
    }
    .option_title{
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
    }
    .option_title > h3{
        font-size: 48px;
     
    }
    .option_content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .item {
        width: 20%;
        padding: 2%;
        background-color: rgba(0, 0, 0, 0.849);
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .item > span{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 18px;
        align-items: center;
    }
    .item > img{
        margin-bottom: 20px;
    }
    /* .item_01{
        width: 18%;
        height: 250px;
        padding: 1%;
        background-color: rgba(0, 0, 0, 0.849);
        border-radius: 5%;
    }
    .item_02{
        width: 18%;
        height: 250px;
        padding: 1%;
        background-color: rgba(0, 0, 0, 0.849);
        border-radius: 5%;
    }
    .item_03{
        width: 18%;
        height: 250px;
        padding: 1%;
        background-color: rgba(0, 0, 0, 0.849);
        border-radius: 5%;
    }
    .item_04{
        width: 18%;
        height: 250px;
        padding: 1%;
        background-color: rgba(0, 0, 0, 0.849);
        border-radius: 5%;
    }
    */
    .about{
        width: 100%;
        height:100%;
        background-color: rgb(0, 0, 0);
        padding: 10%;
        padding-top: 20%;
        padding-bottom: 20%;
        position: relative;
        display: flex;
    }
    .about::before{
        content: "";
        width: 100%;
        height:20%;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top:-10%;
        left:0;
        clip-path: ellipse(55% 40% at 50% 50%);
    }
    .about_inner_title{
      
        font-size: 36px;
    }
    .about_inner{
        display: flex;
        padding: 1%;
    }
    .about_img{
        width: 50%;
    }
    .about_inner_content{
        width: 100%;
        padding: 5%;
    }
    .about_inner_content > p{
       
        font-size: 14px;
    }
}
@media screen and (max-width:768px){ 
    .banner{
        background-color: rgb(0, 0, 0);
        /* clip-path: polygon(50% 18%, 100% 0, 100% 100%, 0 100%, 0 0); */
        position: relative;
        margin-top: 55px;   
        display: flex;
        flex-direction: column;
        /* padding-left: 15%;
        padding-right: 15%;
        padding-top: 10%;
        padding-bottom: 10%; */
    }
    .banner_img{
        width:100%;
        display: flex;
        position: relative;
        justify-content: center;
    }
    .banner_inner{
    width:100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    
    /* border: 1px solid salmon; */
    padding-left: 10% ;
    padding-right: 10%;
    }
    .banner_inner_title{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 40px;
        margin-bottom: 10%;
     
    }
    .banner_inner_content > .row > .column{
        display:flex;
        justify-content: space-between;
        margin-bottom: 3%;
    }
    .banner-item{
        font-size: 14px;
  
    }
    .option{
        padding: 5% 15% 20% 15%;
        position: relative;
    }
    .option_title{
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
    }
    .option_title > h3{
        font-size: 48px;
   
    }
    .option_content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .item {
        width: 70%;
        /* height: 100%; */
        padding: 5%;
        background-color: rgba(0, 0, 0, 0.849);
        border-radius: 5%;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
    }
    .item > span{
        width: 100%;
        /* border: 1px solid salmon; */
        display: flex;
        justify-content: center;
        font-size: 28px;
    }
    .item > img{
        margin-bottom: 20px;
    }
    /* .item_01{
        width: 18%;
        height: 250px;
        padding: 1%;
        background-color: rgba(0, 0, 0, 0.849);
        border-radius: 5%;
    }
    .item_02{
        width: 18%;
        height: 250px;
        padding: 1%;
        background-color: rgba(0, 0, 0, 0.849);
        border-radius: 5%;
    }
    .item_03{
        width: 18%;
        height: 250px;
        padding: 1%;
        background-color: rgba(0, 0, 0, 0.849);
        border-radius: 5%;
    }
    .item_04{
        width: 18%;
        height: 250px;
        padding: 1%;
        background-color: rgba(0, 0, 0, 0.849);
        border-radius: 5%;
    }
    */
    .about{
        width: 100%;
        background-color: rgb(0, 0, 0);
        padding: 10%;
        padding-bottom: 30%;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .about::before{
        content: "";
        width: 100%;
        height:20%;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top:-10%;
        left:0;
        clip-path: ellipse(55% 40% at 50% 50%);
    }
    .about_inner_title{
        width: 100%;
        font-size: 36px;
        display: flex;
        justify-content: center;
    }
    .about_inner{
        display: flex;
        width: 100%;
    }
    .about_img{
        width: 100%;
    }
    .about_inner_content{
        width: 100%;
        padding: 5%;
    }
    .about_inner_content > p{
    
        font-size: 14px;
    }
}
