.main{
    margin-top: 55px;
    flex-grow: 1;
    position: relative;
    background-color: rgba(0, 0, 0, 0.993);
}
.main_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}
.main_top>.title{
    width: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid ;
    border-image: linear-gradient(to right, #b6b6b67c, #36363600) 1;
    /* border-radius: 10   px; */
}
.title> h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    margin-bottom: 10px;
    color: rgb(204, 204, 204);
}
.main_inner{
    padding-top: 3em;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20%;
}   
.sec{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-color: rgb(116, 87, 65);
    border-radius: 50px;
    border: 3px solid darkgoldenrod;
    color: rgb(235, 180, 108);
    padding: 1%;
    visibility: hidden;
    animation: slide 2s ease-in;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
.sec:hover{
    transition: 1.5S;
    transform: translate(0, -20px);
}
.img{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-right: 2%;
}
.img > img{
    width: 100%;
    border: 2px solid wheat;
    border-radius: 50px;
    position: relative;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name{
    font-size:5vmin;
    width: 80%;
    border-bottom:3px solid ;
    border-image: linear-gradient(to right, #fcd5807c, #36363600) 1;
    display: flex;
    justify-content: center;
}
.info{
    margin-top: 20px;
    font-size: 22px;
    color: rgb(243, 218, 172);
}
.map{
    display: flex;
    /* background-color: aqua; */
    justify-content: flex-end;
    align-items: center;
}
.btn{
    background-color: rgba(240, 248, 255, 0);
    color: rgb(255, 255, 255);
    height: 50px;
    border: transparent;
}
.btn:hover{
    background-color: transparent;
}
@keyframes slide{
    0%{
        transform: translate(-100px,0);
        opacity: 0;
        visibility: visible;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
        visibility: visible;
    }
}
@media screen and (max-width:1440px){
    .content{
        width:40%;
    }
    .img{
        width: 60%;
    }
}
@media screen and (max-width:1024px){
    .sec{
        display: flex;
        flex-direction: column;
    }
    .img{
        width: 90%;
    }
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}