.main_item > h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    margin: 2%,2%.2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.col{
    display:flex;
    flex-direction: column;
}
.col:hover{
    opacity: 0.8;
}    
